.color-bar {
  position: absolute;
  top: 70px;
  left: 15px;
  display: flex;
  flex-direction: row;
  user-select: none; 
  z-index: var(--z-top);
}

.gradient {
  width: 100%;
  height: 100%;
}

.labels {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  left: 130%;
  height: 100%;
  align-items: flex-start;
  font-weight: bold;
}

.labels span, .variable-name span {
  /* background-color: white; */
}

.variable-name {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-weight: bold;
  margin-right: 5px;
}
