.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
}

.buildings-alert {
  position: absolute;
  top: 10px;
  left: 15px;
  padding: 5px 35px;
  z-index: 1000;
  border-radius: 5px;
  background-color: white;
}


.buildings-alert p {
  margin: 0;
}


.dark {
  color: #f2c75c;
  background-color: #003b49;
}



@media print {


  .App {
    width: 100%;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    font-size: 12pt;
    /* font-size: 12px; */
    overflow: visible !important;
  }

  .datatable {
    overflow: visible !important;
  }


  .gradient {
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
  }

  .no-print,
  .buildings-alert,
  .export-button,
  .sorting-criteria-container,
  .left-button,
  .datatable+div {
    visibility: hidden;
  }

  .selectContainer div[class*="IndicatorsContainer"] {
    display: none;
  }

}
