.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
}

.buildings-alert {
  position: absolute;
  top: 10px;
  left: 180px;
  padding: 5px 35px;
  z-index: 1000;
  border-radius: 5px;
  background-color: white;
  max-width: 410px;
}


.buildings-alert p {
  margin: 0;
}


.dark {
  color: #f2c75c;
  background-color: #003b49;
}

:root {
  --z-top: 2000;
}

@media print {


  .App {
    width: 100%;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    font-size: 12pt;
    /* font-size: 12px; */
    overflow: visible !important;
  }

  .datatable {
    overflow: visible !important;
    zoom: 90%;
    /* width: 100% !important; */
  }


  .gradient {
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
  }

  .no-print,
  .buildings-alert,
  .export-button,
  .sorting-criteria-container,
  .left-button,
  .datatable+div {
    visibility: hidden;
  }

  .selectContainer div[class*="IndicatorsContainer"] {
    display: none;
  }

}

#buildingTypesSelector {
  position: absolute;
  left: 0;
  margin-left: 10px;
  top: 70%;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: var(--z-top);
}

#buildingTypesSelector button {
  padding: 10px 10px;
}