.color-bar {
    position: absolute;
    top: 70px;
    left: 15px;  
    display: flex;
    flex-direction: column;
    background-color: white;
  }
  
  .color-segment {
    height: 100%;
    display: inline-block;
  }
  
  .labels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    left: 130%;
    height: 100%;
    align-items: flex-start;
    /* background-color: white; */
    font-weight: bold;
  }
  