.sorting-criteria-container {
  position: absolute;
  bottom: 25px;
  right: 25px;
  width: fit-content;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1000;
  text-align: left;
  display: flex;
  /* max-width: 500px; */
  flex-direction: column;
  margin: 0;
  padding: 20px;
  margin: 0;
  background-color: #f9f9f9;
}


.sorting-criteria-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  user-select: none;
  /* flex-wrap: wrap; */
  flex-wrap: nowrap;
  max-width: 400rem;
}

.sorting-criteria-container p {
  margin: 0;
  /* border-bottom: 1px solid #ccc; */
  font-style: italic;
  max-width: 430px;

}

.sorting-criteria-container h2 {
  margin: 0;
}

.sorting-criteria-content {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.variable-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.variable-row label {
  flex: 1;
  padding-right: 1.5rem;
}


.variable-row input[type="number"] {
  width: 60px;
  font-size: 18px;

}

.drag-icon {
  padding-right: 10px;
  font-size: 1.75em;
}

.sort-button {
  display: flex;
  justify-content: center;
  max-height: 100%;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.6em 1.2em;
}

.sort-button:hover {
  background-color: #f2c75c;
  color: #003b49;
}


.ReactCollapse--collapse {
  transition: height 500ms;
}


.advanced-button {
  font-size: 20px;
  border-radius: 100%;
  border-color: black;
  width: 2em;
  height: 2em;
  padding: 0px;
  transition: opacity ease-in-out 0.2s;
}

.advanced-button:hover {
  background-color: #eee;
}

.unchecked-row {
  opacity: 0.5;
  color: #888;
  /* background-color: #f0f0f0; */
  transition: all 0.3s ease;
}

.unchecked-row label {
  text-decoration: line-through;
}

.unchecked-row:hover {
  opacity: 0.8;
}

.sorting-criteria-content .unchecked-row {
  order: 1;
}

.sorting-criteria-content .variable-row:not(.unchecked-row) {
  order: 0;
}


.variable-row input[type='checkbox'] {
  /* Ocultamos el checkbox nativo */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 4px;
  border: 2px solid #003b49;
  /* Usamos el color del botón */
  cursor: pointer;
  transition: background-color 0.2s ease, border-color 0.2s ease;
  position: relative;
}

.variable-row input[type='checkbox']:checked {
  background-color: #003b49;
  /* Fondo similar al botón */
  border-color: #003b49;
}

.variable-row input[type='checkbox']:checked::after {
  content: '\2714'; 
  /* Símbolo de check */
  font-size: 14px;
  font-weight: bolder;
  color: #f2c75c;
  /* Color del texto en el hover del botón */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.variable-row input[type='checkbox']:hover {
  border-color: #f2c75c;
  /* Cambia el borde al color del hover del botón */
}

.variable-row input[type='checkbox']:checked:hover {
  background-color: #f2c75c;
  border-color: #f2c75c;
}

.variable-row input[type='checkbox']:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(242, 199, 92, 0.5);
}

.variable-row input[type='checkbox']:checked:hover::after {
  color: #003b49;
}