.popover {
  position: absolute;
  top: 10%;
  right: 25px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  width: 270px;
  overflow: hidden;
  font-family: Arial, sans-serif;
  z-index: 5000;
  margin: 10px;
}

.close-btn {
  /* position: absolute;
  top: 0;
  right: 0; */
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #fff;
  padding: 0px;
}

.popover-title {
  /* background: #4CAF50; */
  color: white;
  margin: 0;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.popover-title h3 {
  font-size: 18px;
  margin: 0;
}

.popover-content {
  padding: 10px;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.info-item svg {
  font-size: 24px;
  /* color: #4CAF50; */
  margin-bottom: 5px;
}

.info-item span {
  font-size: 12px;
  color: #666;
  margin-bottom: 3px;
}

.info-item strong {
  font-size: 14px;
  color: #333;
}

.popover-footer {
  background: #f0f0f0;
  padding: 10px 15px;
  text-align: right;
}

.cadastre-link {
  /* color: #4CAF50; */
  text-decoration: none;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.cadastre-link:hover {
  text-decoration: underline;
}